<style>
    /* Set the position and height of the footer */
    footer {
      position: relative;
      bottom: -100px;
      width: 100%;
      height: 50px;
      background-color: #000000;
      text-align: center;
      margin: auto;
      padding-top: 10px;
      color: #ebe9e9;
    
      
     
    }
    </style>
    <!-- Footer section -->
      <!-- Footer -->
      <footer>
        Developed By Naveen N Wali | Contact Number: 9110885676 | Email ID: naveenwali34@gmail.com
    </footer>
    
    